@import './base.css';

/* 设置滚动条样式：开始 */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--quae-color-background);
    box-shadow: var(--quae-inner-shadow-shallow);
    border-radius: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
  }
  
  *::-webkit-scrollbar-corner {
    background: var(--quae-color-background);
  }
  /* 设置滚动条样式：结束 */
  
  .shadow-high {
    background: var(--quae-color-background);
    box-shadow: var(--quae-box-shadow-high);
  }
  
  .shadow-low {
    background: var(--quae-color-background);
    box-shadow: var(--quae-box-shadow-low);
  }
  
  .shadow-high-hover:hover {
    background: var(--quae-color-background);
    box-shadow: var(--quae-box-shadow-low);
  }
  
  .inner-shadow {
    background: var(--quae-color-background);
    box-shadow: var(--quae-inner-shadow-shallow);
  }
  
  .inner-shadow-deep {
    background: var(--quae-color-background);
    box-shadow: var(--quae-inner-shadow-deep);
  }
  
  .inner-shadow-hover:hover {
    background: var(--quae-color-background);
    box-shadow: var(--quae-inner-shadow-shallow);
  }
  
  .inner-shadow-deep-hover:hover {
    background: var(--quae-color-background);
    box-shadow: var(--quae-inner-shadow-deep);
  }
  
  .text-inner-shadow {
    text-shadow: var(--quae-text-inner-shadow);
  }
  
  .text-shadow {
    text-shadow: #434343 0.1em 0.1em 0.2em;
  }
  
  .pointer:hover {
    cursor: pointer;
  }
  
  .el-message {
    text-shadow: var(--quae-text-inner-shadow);
    background: #e6e6e6;
    box-shadow: 29px 29px 58px #c4c4c4,
      -29px -29px 58px #ffffff;
    border: none;
    border-radius: 10px;
  }
  
  /* .el-message--success {
    background: #d3eed9;
    box-shadow: 29px 29px 58px #b3cab8,
    -29px -29px 58px #f3fffa;
  }
  
  .el-message--warning {
    background: #fdeddd;
    box-shadow: 29px 29px 58px #d7c9bc,
    -29px -29px 58px #fffffe;
  }
  
  .el-message--error {
    background: #efd7d7;
    box-shadow: 29px 29px 58px #efd7d7,
    -29px -29px 58px #fff7f7;
  } */
  
  .el-tag {
    background: var(--quae-color-background);
    box-shadow: var(--quae-box-shadow-low);
  }